/*Общие предусловия*/
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@font-face {
    font-family: 'Underdog', cursive;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Underdog', cursive;
}
body {
    background: #373737;
    color: #bfbfbd;
    text-decoration: none;
}
a:link {
    text-decoration: none;
    color: #373737;
}
a:visited {
    text-decoration: none;
    color: #373737;
}
a:active {
    text-decoration: none;
    color: #383836;
}

/*Кнопка "Войти\Регистрация и её анимация*/
#reg {
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #bfbfbd;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 5px;
    font-size: 16px;
    Text-transform: uppercase;
    Font-weight: bolder;
}
    #reg:hover {
    background: white;
    border-radius: 10px;
    cursor: pointer;
 }

/*Шапка сайта*/
#sliderHead {
    position: absolute;
    left: 80px;
    top: 5px;
    width: 60px;
    height: 60px;
}
.hiddenHead {
    display: none;
}

#header {
    background-image: url('images/header3.jpeg');
    color: #bfbfbd;
    width: 100%;
    height: 30%;
    text-align: center;
    line-height: 70px;
    border-bottom: 2px solid #bfbfbd;
    float: left;
    font-size: 24px;
}

/*Футер*/
#footer {
    background-image: url('images/header3.jpeg');
    color: #bfbfbd;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-top: 2px solid #bfbfbd;
    float: left;

}

/*Центральная часть сайта(справа)*/
#main {
    width: 70%;
    height: 1100px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    background: #373737;
    color: #bfbfbd;
    border-left: 2px solid #bfbfbd;
}

/*Левая часть сайта*/
#aside {
    width: 20%;
    float: left;
    background: #373737;
}
#nav li {
    display: block;
    background: #bfbfbd;
    color: #373737;
    border: 2px solid #bfbfbd;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    Text-transform: uppercase;
    Font-weight: bolder;
}
    #nav li:hover {
    background: white;
    border-radius: 10px;
    cursor: pointer;
 }
.lap-icon1 {
    height: 30px;
    width: 30px;
    transform: translate(0%, 20%);
}
.lap-icon2 {
    height: 30px;
    width: 30px;
    transform: translate(0%, 20%);
}

/*Поп-ап*/
.pop_up /*Создаем затемнение*/ {
width: 100%;
height: 100%;
position:fixed;
left: 0;
top: 0;
background-color:transparent; /*Плавное изменение цвета*/
z-index:2;
transform: translate(44.5%, -45%) scale(0%); /*Появляется на весь экран из нопки*/
transition: .4s ease-in-out; /*Анимация разворота*/
}
    .pop_up.active { /*Поп-ап отображается. Класс активации для JS*/
        transform: translate(0%, 0%) scale(100%); /*Сворачивается обратно в кнопку*/
        background-color: rgba(0, 0, 0, 0.8); /*Затемнение вокруг попапа*/
    }
.pop_up_container /*Сам поп-ап выравниваем по центру экрана*/ {
    display: flex; /*центровка по центру*/
    width: 100%;
    height: 100%;
}
.pop_up_body /*Тело поп-апа*/{
    margin: auto;
    width: 400px;
    background-image: url('images/header3.jpeg');
    border-radius: 10px;
    text-align: center;
    padding: 40px 15px 30px 15px;
    position: relative;
}
    .pop_up_body h2 {
        font-size: 32px;
        color: #bfbfbd;
    }
    .pop_up_body p {
        color: #bfbfbd;
    }
    .pop_up_body input {
        display: block;
        margin: 20px auto 0px auto;
        width: 330px;
        padding: 17px 20px;
        background-color: #bfbfbd;
        border-radius: 10px;
        border: none;
        color: #373737;
        font-size: 18px;
    }
        .pop_up_body input:focus /*убиранем выделение полей по нажатию*/{
            outline:none;
        }
#pop_up_button_enter /*Кнопка Захожу*/ {
    cursor: pointer;
    display: block;
    width: 280px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    font-size: 20px;
    border: solid 2px #bfbfbd;
    color: #bfbfbd;
    border-radius: 10px;
    background-color: #373737;
}
#pop_up_button_reg /*Кнопка Подружиться*/ {
    cursor: pointer;
    display: block;
    width: 280px;
    margin: 20px auto 0px auto;
    padding: 20px 0px;
    font-size: 20px;
    border: solid 2px #bfbfbd;
    color: #bfbfbd;
    border-radius: 10px;
    background-color: #373737;
}
.pop_up_close /*Кнопка закрыть*/ {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/*Слайдер*/
.slider {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
    background-color: #373737;
}
.hidden {
    display: none;
}
.controls {
    margin-top: 10px;
}
